
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Taiwo
          <span class="text-primary">Tejuosho</span>
        </h1>
        <div class="subheading mb-5">Chicago, Illinois · (312) 647-6896 ·
            <a href="mailto:ttejuosho@outlook.com">ttejuosho@outlook.com</a>
        </div>
        <p class="lead mb-5">I am experienced in full stack web development using various technologies using Agile methods and innovative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/ttejuosho" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.github.com/ttejuosho" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">.NET Full Stack Developer</h3>
            <div class="subheading mb-3">Sentinel Technologies</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Freelance Developer</h3>
            <div class="subheading mb-3">HT&T Technologies</div>
            <p>I work with local businesses on creating digital solutions to help their businesses grow. Developing websites, hosting services and providing SEO solutions, setting you up for success online.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2017 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Advisor</h3>
            <div class="subheading mb-3">Apple Inc.</div>
            <p>At Apple, I worked with a great team helping customers with technical issues on all Apple devices and helping navigate the Apple ecosystem. I also worked with Tier 1 Advisors, through mentorship and accepting escalated issues.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2015 - September 2018</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Northwestern University</h3>
            <div class="subheading mb-3">Coding Bootcamp</div>
            <div>JavaScript Full Stack Web Development Track</div>
            <p>December 2017</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2017 - December 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Tai Solarin University of Education</h3>
            <div class="subheading mb-3">Applied Physics & Education</div>
            <p>GPA: 4.21</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2007 - May 2011</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-npm"></i>
            </li>
            <li class="list-inline-item">
                <img class="vs-icon" src="~/Images/visual-studio.png" />
            </li>
            <li class="list-inline-item">
                <img class="sql-icon" src="~/Images/sql-icon.png" />
            </li>
            <li class="list-inline-item">
                <img class="jquery-icon" src="~/Images/jquery-icon.jpg" />
            </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time travelling and taking photos.</p>
        <p class="mb-0">When indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring music producer, and I spend a large amount of my free time exploring the latest technology advancements in IT infrastructure and cyber security.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
              <i class="fa-li fas fa-certificate text-warning"></i>
            Full Stack Web Development Certificate 2017</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Android Basics Nanodegree (Google Scholarship) - Udemy Certification 2018</li>
        </ul>
      </div>
    </section>    